<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackingApp"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <!-- Launcher / Dashboard -->
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:label="@string/title_progress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Log new entry (internal) -->
        <activity
            android:name=".ui.entry.EntryActivity"
            android:exported="false"
            android:label="@string/title_log_entry"
            android:windowSoftInputMode="adjustResize" />

        <!-- List of entries (internal) -->
        <activity
            android:name=".ui.entry.EntriesActivity"
            android:exported="false"
            android:label="@string/title_entries" />

        <!-- Goal screen (internal) -->
        <activity
            android:name=".ui.goal.GoalActivity"
            android:exported="false"
            android:label="@string/title_goal"
            android:windowSoftInputMode="adjustResize" />

        <!-- Edit entry with Up navigation back to EntriesActivity -->
        <activity
            android:name=".ui.entry.EditEntryActivity"
            android:exported="false"
            android:label="@string/title_edit_entry"
            android:parentActivityName=".ui.entry.EntriesActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.entry.EntriesActivity" />
        </activity>

    </application>
</manifest>